@page "/todo"
@namespace web.Pages.Todo
@inherits TodoGetBase

<div class="form-group">
    <h3>Find</h3>
    <input @bind="Id" class="form-control" placeholder="Id"/>
    <button @onclick="async() => await Get()">Find</button>
</div>

<div class="form-group">
    <h3>New</h3>
    <input @bind="Request.DisplayName" placeholder="displayname" class="form-control"/>
    <input @bind="Request.Content" placeholder="content" class="form-control"/>
    <button @onclick="async() => await NewTodo()">New Todo</button>
</div>


<pre>
    Responses:
    Name: @Response.DisplayName
    Content: @Response.Content
    Id: @Response.Id
    UpdatedAt: @Response.UpdatedAt
    IsDone: @Response.IsDone
</pre>